img {
    width: 400px;
    height: auto;
}

body {
    margin-bottom: 20px;
    background-color: azure;
}

h1 {
    margin-bottom: 20px;
}

hr {
    margin: 9px;
    padding: 9px;
}

h1 {
    color: darkslategrey;
}

